@model GuildCarsMax.Models.AddModelViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "AddModel";
}
<div class="row">
    <h2>Add Model</h2>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("AddModel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddModel" }))
        {

            @Html.ValidationSummary()
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>New Model</label>
                    @Html.TextBoxFor(m => m.ModelParameters.ModelType, new { @class = "form-control" })
                    @Html.HiddenFor(m => m.ModelParameters.UserId, new { Value = User.Identity.GetUserId() })
                </div>
                <div class="form-group col-sm-6">
                    <label>Make</label>
                    @Html.DropDownListFor(m => m.ModelParameters.MakeTypeId, Model.Makes, new { @class = "form-control", id = "makeList" })
                </div>
                <button class="btn btn-primary">Save</button>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Date Added</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var make in Model.Models)
                {
                    <tr>
                        <td>@make.MakeType</td>
                        <td>@make.ModelType</td>
                        <td>@make.DateAdded.ToShortDateString()</td>
                        <td>@make.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

