@model GuildCars.UI.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="carousel slide" data-ride="carousel" data-wrap="true">
        <div class="carousel-inner">
 
            @foreach (var special in Model.Specials)
            {

                if (Model.Specials.First() == special)
                {
                    @:<div class ="carousel-item active">
                }
                else
                {
                    @:<div class="carousel-item">
                }
                <img class="d-block w-100 container-fluid" src="@Url.Content("~/Images/banner-background.jpg")" alt="slide-image" />
                <div class="carousel-caption d-none d-md-block">
                    <h1>@special.Title</h1>
                    <p>@special.SpecialDescription</p>
                </div>
                if (Model.Specials.First() == special)
                {
                    @:</div> 
                }
                else
                {
                    @:</div>
                }
            }

    </div>
</div>
</div>
<hr/>
<h2 class="pb-4">Featured Vehicles</h2>
<div class="row">
        @foreach (var feature in Model.FeaturedVehicles)
        {
            <div class="col-sm-3">
                <p class="featuredVehicle"><img src="@Url.Content("~/Images/" + feature.ImageFileName)" /></p>
                <p class="featuredVehicle">@feature.Year, @feature.MakeType, @feature.ModelType</p>
                <p class="featuredVehicle">@feature.SalePrice.ToString("c")</p>
            </div>
        }
</div>