<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <i class="material-icons">drive_eta </i>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">@Html.ActionLink("Home", "Index", "Home")<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">@Html.ActionLink("New Inventory", "New", "Inventory")</a>
                    <a class="nav-item nav-link" href="#">@Html.ActionLink("Used Inventory", "Used", "Inventory")</a>
                    <a class="nav-item nav-link" href="#">@Html.ActionLink("Specials", "Specials", "Customer")</a>
                    <a class="nav-item nav-link" href="#">@Html.ActionLink("Contact", "AddContact", "Customer")</a>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
