@model GuildCars.Models.Queries.VehicleInventoryListingDetails

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <h2>Details</h2>
</div>

<div class="col-12">     
    <div class="row col-12"><p class="searchListItem"><strong>@Model.Year  @Model.MakeType @Model.ModelType </strong></p></div> 
    <div class="row">
        <p class="searchListItem col-sm-3"><img src="@Url.Content("~/Images/" + Model.ImageFileName)"/></p>
        <p class="searchListItem col-sm-3">
            <strong>Body Style: </strong>@Model.BodyStyle
            <br /><strong>Trans: </strong>@Model.TransmissionType
            <br /><strong>Color: </strong>@Model.ExteriorColor
        </p> 
        <p class="searchListItem col-sm-3">
            <strong>Interior: </strong>@Model.InteriorColor
            <br /><strong>Mileage: </strong>@Model.Mileage
            <br /><strong>VIN #: </strong>@Model.VinNumber
        </p>
        <p class="searchListItem col-sm-3">
            <strong>Sale Price: </strong>@Model.SalePrice
            <br /><strong>MSRP: </strong>@Model.MSRP
        </p>
    </div>
    <div class="row">
        <p class="vehicleDetail col-sm-9">
            <strong>Description: </strong>@Model.VehicleDescription
        </p>
    </div>
    <div class="row">
        <button class="btn btn-primary">Contact Us</button>
    </div>
</div>


